@import url('https://fonts.googleapis.com/css?family=Lato');
@import './variables.css';

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
}

#root {
  width: 100%;
  display: grid;
  height: 100vmin;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--primary);
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(5, 20%);
}
button {
  background: transparent;
  border: 0;
  outline: 0;
}
.container-calculator {
  margin: .9rem;
  grid-row: 2/5;
  grid-column: 2/5;
  align-self: center;
  color: var(--color);
  background: var(--primary);
  padding:calc(var(--padding) - 9rem);

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 50%);
}
@media screen and (max-width: 40rem) {
  #root {
    padding-top: 8rem;
  }
  .container-calculator {
    grid-row: 1/5;
    grid-column: 1/6;
  }
}
@media screen and (min-width: 2560px) {
  .container-calculator {
    grid-row: 1/6;
    grid-column: 2/5;
    font-size: calc(var(--font-size) * 2);
  }
}
